In [24]:
str='My Name Is Harsh :)'
str

'My Name Is Harsh :)'

In [16]:
li=str.split(' ',10)
li

['My', 'Name', 'Is', 'Harsh', ':)']

In [26]:
str=str.replace("Harsh","Harsh Prasad")
print(str)

My Name Is Harsh Prasad :)

In [30]:
index=str.find("Harsh")
index
str

'My Name Is Harsh Prasad :)'

In [32]:
str1=str.lower()
str1

'my name is harsh prasad :)'

In [33]:
str2=str.upper()
str2

'MY NAME IS HARSH PRASAD :)'

In [42]:
a=str.startswith("My Name Is")
a

False

In [34]:
str

'My Name Is Harsh Prasad :)'